@import url("reset.css");
@import url(../css/media/allprojectmedia.css);


/* ------------------------------------all project--------------------------------------- */

.all {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    padding-top: 121px;
    
    
}

.header_1{
    background-image: url("../img/allproject_bgi.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 121px);
    margin: 0 auto;
}

.header_1_1{
    /* overflow: hidden; */
    margin-left: 8%;
    box-sizing: border-box;
    padding-top: 2%;
}

.header_1_1 h2 {
    font-size: 64px;
    Line-height:77.45px;
    /* margin-left: 155px;
    margin-top: 100px; */
    padding:24px 38px 12px;
    
}

.header_1_1 p{
    /* margin-left: 155px; */
    padding-left: 38px;
    font-size: 20px;
}

/* ------------------------------------------------------------- */

.project_one{
    background-image: url("../img/project_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.project_two{
    background-image: url("../img/project_02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project_three{
    background-image: url("../img/project_03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project1{
    /* width: 100%; */
    height: calc(100vh - 121px);
    /* margin-top: 121px; */
    /* background-attachment: fixed; */
}

.project_text{
    margin-left: 6%;
    margin-top: 18%;
}


.project1 h2{
    font-size: 64px;
    line-height: 77px;
    /* padding-top: 352px;
    margin-left:155px; */
 
}

.project1 h3{
    font-size: 20px;
    /* margin-left:155px; */
}

.project1 p{
    font-size: 18px;
    margin-top: 18px;
    width: 420px;
    /* margin-left:155px; */
}



 .project1 input{
    color: white;
    width: 410px;
    height: 70px;
    background: rgba(255, 255, 255 ,0);
    border: 1px solid white;
    margin-top: 20px;
    /* margin-left:155px; */
    font-weight: bold;
    font-size: 20px;
}




/* --------------------------hover------------------------------- */

input:hover{
    cursor:pointer;
    background-color: red;
    border: 1px solid red;
    box-shadow: 0 0 50px red,0 0 20px red;
}

/* a:hover{
    border-bottom: 1px solid white;
} */


.fp-warning, .fp-watermark{
    display: none;
}

/* ------------------------------------------------------------------- */




