@import url("reset.css");
@import url(../css/media/buypagemedia.css);
@import url(../css/nav/nav_footer.css);




/* ---------------------------------------------------------------------------------------- */
.wrapper{
    max-width: 1920px;
    margin: 0 auto; 

}

* {
    box-sizing: border-box;
}

.buyleft{
    width: 60%;
    max-width: 60%;
    min-width: 60%;

}

.buy_right{
    width: 40%;
    max-width: 40%;
    min-width: 40%;

}



*{
    /* outline: 1px solid #f00; */
}

.buy{
    display: flex;
}

.buyleft{
    /* border: 1px solid white; */
    /* margin-top: 200px;  */
    position: sticky;
    top: 0; 
    height: 40%;
    /* flex-grow: 1; */
    
}

.buy_left{
    /* position: sticky;
    top: 200px; */
    /* padding-top: 200px; */
    /* border: 1px solid white; */
    margin: 200px auto 0;
}

.buy_left img{
    /* width: 739px; */
    /* visibility: hidden; */
    /* height: 350px;   */
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* position: fixed; */
}

.buy_right{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 200px auto 0;
}

.buy_right .buy_right_1 .buy_title{
    /* display: flex; */
    margin-bottom: 20px;
    align-items: baseline;
    
}
.buy_right .buy_right_1 h2{
    font-size: 64px;
    margin-right: 15px;
}
.buy_right .buy_right_1 h3{
   font-size: 24px;
}
.buy_right .buy_right_1 p{
    font-size: 18px;
    max-width: 550px;
    margin-bottom: 30px;
}
.buy_right .buy_right_1 .hardware{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin: 0;
}
.buy_right .buy_right_1 .hardware h4{
    line-height: 36px;
    font-size: 18px;
    margin: 20px ;
    margin-left: 0;
}

.buy_right .buy_right_1 .buy_right_2{
}

.buy_right .buy_right_1 .buy_right_2 h3{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buy_right .buy_right_1 .buy_right_2 p{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.buy_right .buy_right_1 .buy_right_2 input{
    /* border-radius: 5px; */
    width: 500px;
    height: 50.59px;
    border: 1px solid white;
    font-size: 18px;
    background-color:rgba(255, 255, 255 ,0);
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";

}

.buy_right .buy_right_1 .buy_right_2 .country{
    display: flex;
    justify-content: space-between;
    max-width: 548px;
    
}

.buy_right .buy_right_1 .buy_right_2 .country div{
    /* margin-right: 40px; */
    flex-grow: 1;
    width: 250px;
    margin-bottom: 37px;
}

.buy_right .buy_right_1 .buy_right_2 .country input{
   width: 220px;
}

.buy_right .buy_right_1 .buy_right_2  .buy_order{
    background-color: gray;
    height: 60px;
}

.buy_right .buy_right_1 .buy_right_3{}
.buy_right .buy_right_1 .buy_right_3 h3{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.buy_right .buy_right_1 .buy_right_3 p{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.buy_right .buy_right_1 .buy_right_3 input{
    /* border-radius: 5px; */
    width: 500px;
    height: 50.59px;
    border: 1px solid white;
    font-size: 18px;
    background-color:rgba(255, 255, 255 ,0);
    color: white;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
    font-weight: bold;
}



.buy_right .buy_right_1 .buy_right_3 {
    display: none;
}

.buy_right .buy_right_1 .buy_right_3 .country{
    display: flex;
    justify-content: space-between;
    max-width: 548px;
}

.buy_right .buy_right_1 .buy_right_3 .country div{
    /* margin-right: 40px; */
    flex-grow: 1;
    width: 250px;
    margin-bottom: 37px;
}

.buy_right .buy_right_1 .buy_right_3 .country input{
   width: 230px;
}

.buy_right .buy_right_1 .buy_right_3  .buy_order{

    background-color: gray;
    height: 60px;
}

.buy_right .buy_right_1 .buy_right_3  .buy_order:hover{
    background-color: red;
    border: 1px solid red;
    box-shadow: 0 0 50px red,0 0 20px red;
    cursor: pointer;
}

.buy_right .buy_right_1 .buy_right_2  .buy_order:hover{
    background-color: red;
    border: 1px solid red;
    box-shadow: 0 0 50px red,0 0 20px red;
    cursor: pointer;
}

@media screen and (max-width:1440px) {
    .buy_right .buy_right_1 .buy_right_3 p {
        font-size: 16px;
    }

    .buy_right .buy_right_1 .hardware h4 {
        font-size: 16px;
    }

    .buy_right .buy_right_1 p {
        font-size: 16px;
    }

    .buy_right .buy_right_1 .buy_right_2 p {
        font-size: 16px;
    }

    .buy_right .buy_right_1 .buy_right_2 .buy_order {
        font-size: 16px;
    }

    .buy_right .buy_right_1 .buy_right_3 .buy_order {
        font-size:16px;
    }

    .buy_left img{
        width: 96%;
    }
}


/* ---------------------------------------------------------------------- */
