@import url("reset.css");
@import url("../css/media/allconceptmedia.css");
@import url(../css/nav/nav_footer.css);



/* ------------------------------------------------------------------------------------------------------ */
section{
    display: flex;
    justify-content: space-around;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}



.concept{
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 137px;
    overflow: hidden;
}

.concept1 {
    /* margin-left: 329px; */
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 476.5px;
    width: 30%;
    margin-left: 100px;
    /* max-width: 10%; */
}

.concept1 .item1 {
    flex-grow: 1;
}



.concept1 .item2{
    flex-grow: 1;
    display: flex;
    
}
.concept1 .item3{
    
}

.concept2{
    width: 45%;
    max-width: 45%;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    /* margin-left: 37px; */
    /* margin-right: 86px; */
    align-self: center;
    /* flex-grow: 1; */
    
}

.all_img{
 margin: 0 auto;
}

.line{
    display: none;
    margin-top: 25px;
    justify-content: center;
}

.line1{
    width: 30px;
    height: 2px;
    background-color: white;
    margin-right: 10px;
}

.line .line1:nth-child(2){
    width: 50px;
    background-color: red;
    animation: neon 1.5s ease-in-out infinite alternate;
}


.concept2 .img{
    /* flex-shrink: 0;
    flex-grow: 1; */
    margin-bottom: 50px;
}

.concept2 .concept_img1{
    /* position: absolute;
    top: -40%;  */
}

.concept2 img{
     /* width: 100%; */
}

.concept3{
    width: 45%;
    max-width: 45%;
    min-width: 45%;
    /* margin-right: 150px; */
    margin-top: 106px;
    margin-left: 60px;
    /* flex-grow: 1; */
}

.concept3 .line2{
    background-color: red;
    width: 102px;
    height: 5px;
    margin-bottom:40px ;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    0% {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
        0 0 70px red, 0 0 80px red;
    }
    100% {
      box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red,
        0 0 35px red, 0 0 40px red;
    }
}


.concept3_1{
    /* display: none; */
}

.concept3 h2{
    font-size: 64px;
    margin-bottom:20px ;
}

.concept3 p{
    font-size: 18px;
    margin-bottom: 44px;
    width: 80%;
    line-height: 2;
   
}

.concept3 input{
    border-radius: 5px;
    width: 341px;
    height: 50.59px;
    border: 1px solid white;
    font-size: 18px;
    background-color:rgba(225, 225, 225 ,0);
    color: white;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
    font-weight: bold;
    
}

.concept3 input:hover{
    background-color:gray;
}


.concept3_2{
    display: none;
}

.item1 {
    width: 50px;
}

.item1 svg{
    display: block;
    margin: 0 auto 20px;
}

.item3{
    width: 50px;
}

.item3 svg{
    display: block;
    margin: 0 auto 20px;
}




.item1:hover path{
    transform: scale(2, 2);
}

.item3:hover  path{
    transform: scale(2, 2);
}

@media screen and (max-width:1440px) {
 .concept  .concept1{
    margin-right: 60px;
   }
   
    .concept3{
        box-sizing: border-box;
        padding-left: 130px;
        margin-top: 20px;
    }    
}




.-on{
    transform: translateY(575px);
    transition: all 1s;
}

.-on2{
    transform: translateY(0);
    transition: all 1s;
}

.-on3{
    transform: translateY(-575px);
    transition: all 1s;
}