@import url("reset.css");
@import url(/css/media/projectmedia.css);

body{
    font-size: 18px;
    line-height: 1.6;
    background-color: black;
    color: white;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
    font-weight: bold;
    letter-spacing: 1px;
}

.wrapper_1{
    max-width: 1920px;
    margin: 0 auto;
}

/* *{
    outline: 1px solid red;
} */


nav{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 1920px;
    /* max-width: 1920px; */
    display: flex;
     justify-content:space-between;  
     height: 121px;
    margin: 0 auto;
     position: fixed; 
     z-index: 2;
}

nav .logo{
}

nav .about_logo{
    flex-grow: 1;
}

nav img{
    /* position: absolute; */
    /* width: 124px; */
    height: 65px;
    margin-top: 28px;
    margin-left: 70px;
    /* left: 231px;
    top: 30px; */

}

.trigram{
    font-size: 30px;
    text-align: center;
    padding-right: 10px;
    line-height: auto;
    display: none;
}

.trigram:hover{
    color:red;
}

 .nav_ul{
    display: flex;
    margin-top: 47px;
    margin-right: 70px;
    /* flex-direction: row;
    align-items: flex-start; */
    gap: 34px;

    /* position: absolute; */
    
    /* height: 19px;
    left: 1370px;
    top: 54px; */
    
}

.nav_ul li{
    /* width: 118.42px; */
}

.nav_ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;

}

nav .nav_ul a:hover{
    border-bottom: 1px solid white ;
}


/* --------------------------------------------------------------------------------------------------------------- */

.project{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    max-width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.project1{
    background-image: url("../img/project1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 100px);
    /* max-width: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.project1 .project1_title{
    max-width: 40%;
    margin: 0 auto 100px;
}

.project1 h1{
    text-align: center;
    margin: -110px auto 15px;
    font-size: 64px;
    width: 450px;
    line-height: 1;
    
}

.project1 h3{
    font-size: 20px;
    text-align: center;
    margin: 0 auto 10px;
    width: 450px;
}

.project1 h4{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 450px;
    visibility: hidden;
}

.project1 .project1_btn{
    width: 40%;
    margin: 0 auto;
}

.project1 a{
    text-decoration: none;
    width: 230px;
    display: block;
    margin: 0 auto;
}

.project1 .project1_btn input{
    display: block;
    width: 373px;
    height: 59px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
    margin: 0 auto;
}
/* ---------------------------------------------------------- */
.btn {
    width: 230px;
    height: 60px; 
    border: 0;
    outline: none;
    background-color: BLACK;
    cursor: pointer;
    position: relative;
    font-size: .85rem;
    text-transform: uppercase;
    color: var(--black-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}


.btn__content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: yellow;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    color: BLACK;
    font-family: "Source Code Pro";
    font-size: 16px;
    font-weight: blod;
}


.btn__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  }

  .btn:hover .btn__glitch{
    display: block;
    animation: glitch-animation 2s linear 0s infinite;
  }

  @keyframes glitch-animation {
    0% {
      opacity: 1;
      transform: translateZ(0);
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
  
    2% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    6% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(5px);
    }
  
    8% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    9% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(0);
    }
  
    10% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translate3d(5px, 0, 0);
    }
  
    13% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translateZ(0);
    }
  
    13.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    15% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    20% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    20.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    25% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    30% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    30.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
    35% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    40% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(5px);
    }
  
    45% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    50% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(0);
    }
  
    55% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    60% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translateZ(0);
      opacity: 1;
    }
  
    60.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  
    to {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  }





/* ---------------------------------------------------------- */



.project1 .project1_btn input:hover{
    background-color: rgba(225, 225,225, .7);
}

.project .project1 ul{
    display: flex;
    justify-content: space-around;
}

.project .project1 ul li{
    flex-basis: 250px;
}


.project .project1 li h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.project .project1 li p{
    font-size: 18px;
    text-align: center;
}

.project2{
    margin-top: 120px;
}
.project2 iframe{
    display: block;
    margin: 0 auto;
}

.project3{
    height: 100vh;
    margin-top: 120px;
    padding: 0 50px;
    box-sizing: border-box;
    height: 700px;
}

.project3 .project3_container{
    position: relative;
}


.project3 .project3_img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.project3 .project3_container img{
    width: 45%;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 30%;
    top: 22%; 
}

.project3 .project3_container .project3_img .-on{
    visibility: visible;
}

.project3_text div{
    width: 400px;
    position: absolute;
 
}

.project3_text  .text1{
    top: 35%;  
    left: 5%; 
}

.project3_text  .text2{
    top: 15%;  
    right: 5%;
}

.project3_text  .text3{
    top: 55%;  
    right: 5%;
}  


.project3_text h3{
    font-size: 26px;
    margin-bottom: 5px;
    
}

.project3_text .redline{
    width: 80px;
    height: 2px;
    background-color: red;
    margin-bottom: 5px;
    position: relative;
    /* ------------------------------------- */
    animation: neon 1.5s ease-in-out infinite alternate;

      
}
/* ------------------------------------- */

@keyframes neon {
    0% {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
        0 0 70px red, 0 0 80px red;
    }
    100% {
      box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red,
        0 0 35px red, 0 0 40px red;
    }
  }


  /* ------------------------------------- */
.project3_text p{
    font-size: 18px;
}



/* ---------------------------------------------- */

.project4{
display: flex;
margin-top: 120px;
}

.project4 .project4_left{
    max-width: 50%;
    min-width: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;

}


.project4 .project4_left div{
    
    box-sizing: border-box;
    margin-left:21.5% ;
}

.project4 .project4_left h3{
    font-size: 36px;
    margin-bottom: 5px;
    width: 78%;
    
}

.project4 .project4_left .redline{
    width: 80px;
        height: 3px;
        background-color: red;
        margin-left: 0;
        margin-bottom: 10px;
        animation: neon 1.5s ease-in-out infinite alternate;
}

/* ------------------------------------- */

@keyframes neon {
    0% {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
        0 0 70px red, 0 0 80px red;
    }
    100% {
      box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red,
        0 0 35px red, 0 0 40px red;
    }
  }


  /* ------------------------------------- */

.project4 .project4_left p{
    font-size: 18px;
    width: 78%;
    
}


.project4 .project4_right{
    max-width: 50%;
    min-width: 50%;
    width: 50%;
}

.project4 .project4_right img{
    width: 70%;
}




.project5{
    margin-top:120px;
}
.project5 div{
    max-width: 1400px;
    height: 539px;
    margin: 0 auto;
    background-image: url("../img/project3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 40px;
}

.project5 div p{
    border-right:3px solid red ;
    width: 50%;
    padding-right: 20px;
    margin-bottom: 0;
    text-align: end;
    font-size: 18px;
}





.project6{
    display: flex;
    margin-top: 120px;
    }
    
    .project6 .project6_right{
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    
    .project6 .project6_right div{
        width: 78%;
        box-sizing: border-box;
        margin-left:20% ;
    }
    
    .project6 .project6_right h3{
        font-size: 36px;
        margin-bottom: 5px;
        width: 78%;
        
    }

    .project6 .project6_right  .redline{
        width: 80px;
        height: 3px;
        background-color: red;
        margin-left: 0;
        margin-bottom: 10px;
        animation: neon 1.5s ease-in-out infinite alternate;
    }

    /* ------------------------------------- */

@keyframes neon {
    0% {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
        0 0 70px red, 0 0 80px red;
    }
    100% {
      box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red,
        0 0 35px red, 0 0 40px red;
    }
  }


  /* ------------------------------------- */
    
    .project6 .project6_right p{
        font-size: 18px;
        width: 78%;
        
    }
    
    
    .project6 .project6_left{
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        display: flex;
        justify-content: end;
    }
    
    .project6 .project6_left img{
        width: 70%;
        text-align: end;
    }


    .project7{
        margin-top: 120px;
    text-align: center;
}


/*-------------------------------------------------------------------------------------------------------------------  */
footer{
    width: 100%;
    margin: 100px auto 25px ;
}

footer span{
    margin: 0 20px;
}

.footer1_1 {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

footer p{
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 25px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    border-bottom: 1px solid white;
}


