@import url("reset.css");
@import url(../css/media/servicemedia.css);
@import url(../css/nav/nav_footer.css);



/* -----------------------------service------------------------------------- */

.body_service{
    overflow-x: hidden;
}

.push{
    padding-top: 121px;
}

.wrapper_service{
   max-width: 1920px;
    margin: 0 auto;
    
    
    
}

.service{
    height: 100vh ;
    width: 100%;
    background-image: url("../img/service_bgi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    
}


.service span h1{
    font-size: 64px;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.service .service_main{
    display: flex;
    overflow: hidden;
}

.service_main .service_text{
    width: 560px;
    height: 654px;
    border: 1px solid #fff; 
    margin-left: 14.7%;
    margin-right: 8.2%;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 4px 1px 4px 1px rgba(0, 0, 0, .3);
    flex-shrink: 0;
}



.service_main .service_text div{
    margin: 10px 30px 34px 38px;
}

.service_main .service_text h2{
    font-size: 36px;
    margin-top: 221px;
    
}

.service_main .service_text .service_line{
    width: 144px;
    height: 3px;
    background-color: #fff;
    margin-left: 0;

}

 .service_main .service_text p {
    font-size: 18px;
    

}

.service .service_list{
    display: flex;
    height: 654px;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    /* box-shadow: 4px 1px 4px 1px rgba(0, 0, 0, .3); */
    margin-top: 40px;
    /* background-color:rgba(217, 217, 217, .1); */
    
    
}

.service .service_list div{
    
    border: 1px solid #fff;
    flex-shrink: 0;
    margin-left: 43px;
    margin-top: 40px;
    height: 583px;
    width: 290px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
    background-color:rgba(217, 217, 217, .1);

}

/* ------------------------------測試--------------------------------------- */
.service .service_list li{
    
    border: 1px solid #fff;
    flex-shrink: 0;
    margin-left: 43px;
    margin-top: 40px;
    height: 583px;
    width: 290px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .3);
    background-color:rgba(217, 217, 217, .1);

}
/* ----------------------------------------------------------------------------- */
.service .service_list h3{
    text-align: center;
    margin-bottom: 23px;
    margin-top: 25px;
    font-size: 24px;
}

.service .service_list p{
    display: block;
    margin: 0 auto;
    font-size: 14px;
    width: 250px;
}

.service .service_list img{
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 23px;

}

.service_list .service1:hover{
    background-color:rgba(217, 217, 217, .3);
    cursor: pointer;
}

.service_list .service2:hover{
    background-color:rgba(217, 217, 217, .3);
    cursor: pointer;
}

.service_list .service3:hover{
    background-color:rgba(217, 217, 217, .3);
    cursor: pointer;
}


@media screen and (max-width:1440px) {
    .service_main .service_text{
        margin-left: 60px;
        margin-right: 60px;
    }

}

.text_test{
    display: none;
}


.-on{
    transform: translateX(-30px);
    transition: all 1s ;
    animation: nnn 1.5s ease-in-out forwards;
}

@keyframes nnn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

