@import url("reset.css");
@import url(../css/media/homemedia.css);
@import url(../css/nav/nav_footer.css);



.home1{
    padding-top: 130px;
    box-sizing: border-box;
    /* width: 100%; */
    height: 100%;
    /* position: relative; */
    /* height: 1080px; */
    margin: 0 auto 200px;
}

.home1_1{
    background-image: url("../img/home_bgi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* width: 1400px; */
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    /* ------------------------------------------------- */
    /* position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* -------------------------------------------------- */


.home1_1_1 h2 {
    font-size: 64px;
    Line-height:77.45px;
    padding:24px 38px 20px;
}

.home1_1_1 p{
    padding-left: 38px;
    font-size: 21px;
}

.home2{
    /* width: 100%; */
    display: block;
    margin: 0 auto;
    height: 100vh ;
    margin-bottom: 200px;
    background-image: url(../img/project_01.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.home2_link{
    text-decoration: none;
    color: white;
}


.home2_1 h2{
    font-size: 64px;
    line-height: 77px;
    /* padding-top: 402px; */
    padding-top: 27.5%;
    /* margin-left: 155px; */
    margin-left: 4.5%;
}

.home2_1 h3{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin-left: 155px; */
    margin-left: 4.5%;  
}

.home2_1 p{
    width: 480px;
    font-size: 18px;
    margin-bottom: 40px;
    /* margin-left: 155px; */
    margin-left: 4.5%;
    
}

.home2_1_ul{
    /* margin-left: 155px; */
    margin-left: 4.5%;
    display: flex;
}

.home2_1_ul li{
    margin-right:10px;
    width: 148px;
    height: 3.5px;
    background-color: #fff;
}

/* .home2_1_ul li img{
    display: block;
    width: 128px;
} */


.home3{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.home3_1{
      flex-grow: 1;
      box-sizing: border-box;
      padding-left: 16%;
}

.home3_1 a{
    text-decoration: none;
}

.home3_1 h2{
    /* text-align: center; */
    width: 60%;
    font-size: 36px;
    margin-bottom: 15px;
}

.home3_1 .redline{
    width: 80px;
    height: 3px;
    background-color: red;
    margin-bottom: 15px;
    position: relative;
    /* ------------------------------------- */
    animation: neon 1.5s ease-in-out infinite alternate;

      
}
/* ------------------------------------- */

@keyframes neon {
    0% {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
        0 0 70px red, 0 0 80px red;
    }
    100% {
      box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red,
        0 0 35px red, 0 0 40px red;
    }
  }

.home3_1 p{
    width: 600px;
    /* text-align: center; */
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2;
    
    
}

.home3_1 input{
    display: block;
    /* margin: 0 auto; */
    background: none;
    border: 1px solid white;
    color: white;
    height: 60px;
    width: 341px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
    
    
}

.home3_2{
    flex-grow: 2;
    box-sizing: border-box;
}
.hom3_2 img{
    margin: 540px auto;
}

.home4{
    display: flex;
    /* width: 100%; */
    height: 500px;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
}

.home4_1{
    flex-grow: 1;
    /* overflow: hidden; */
}

.home4_1 img{
    display: block;
    margin: 0 auto;
}



.home4_2{
    flex-grow: 1;
}

.home4_2 a{
    text-decoration: none;
}

.home4_2 h2{
    text-align: left;
    font-size: 36px;
    margin-bottom: 15px;
}

.home4_2 .redline{
    width: 80px;
    height: 3px;
    background-color: red;
    margin-bottom: 15px;
    position: relative;
    /* ------------------------------------- */
    animation: neon 1.5s ease-in-out infinite alternate;     
}

.home4_2 p{
    width: 90%;
    text-align: left;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2;
}

.home4_2 input{
    display: block;
    background: none;
    border: 1px solid white;
    color: white;
    height: 60px;
    width: 341px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
}

.home5{
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
}

.home5_1{
    /* width: 100%; */
    display: flex;
    margin: 0 auto;
    /* width: 100%; */
    /* border: 1px solid white; */
}


.home5_1 .ul_content{
    flex-grow: 1;
    overflow: hidden;
    max-width:100%;
    width: 100%;
}

.home5_1 .home5_1_ul{
    display: flex;
    overflow: hidden;
    max-width:100%;
    width: 1200px;
}

.home_service1{
    transform: scale(.7);
}

.home_service3{
    transform: scale(.7);
}

.home5_1_ul li{
    margin: 0 0 20px;
}



.home5_1_ul li a{
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin: 40px auto 0;
}


.home5 .polygon1  {
    /* display: block; */
    flex-grow: 1;
    width: 50px;
    margin: 218.69px 0; 
}



.home5 .polygon2  {
    flex-grow: 0;
    /* display: block; */
    width: 50px;
    margin: 218.69px auto;
}



.home5 input{
    display: block;
    margin: 40px auto 0;
    background: none;
    border: 1px solid white;
    color: white;
    height: 60px;
    width: 1200px;
    font-family: verdana;
    font-weight: bold;
    font-size: 18px;
    
}

footer{
    width: 100%;
    margin: 200px auto 25px;
}

span{
    margin: 0 20px;
}

input:hover{
    /* background-color: rgba(255, 255, 255 ,.5); */
    cursor:pointer;
    background-color: red;
    border: 1px solid red;
    box-shadow: 0 0 50px red,0 0 20px red;
    
}

.home5 .polygon2:hover {
    animation: right .5s linear infinite;
    cursor:pointer;
}





.home5 .polygon1:hover {
    animation: left .5s linear infinite;
    cursor:pointer;
}

.home5_1_ul li  .home5_light{
    animation-name: glitched;
    animation-duration: calc(.9s * 1.4);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 20px;
}
.home5_light:hover{
    color: red;
    text-shadow: 0 0 50px red,0 0 20px red;
}

.scale2{
    animation: slow .5s;
}

.scale3{
    animation: slow1 .5s;
}

.scale1{
    animation: slow3 .5s;
}

.righ1{
    animation: righ1 .5s;
}

.righ2{
    animation: righ2 .5s;
}

.righ3{
    animation: righ3 .5s;
}

@keyframes slow1 {
    0%{
        
         
        transform: translateX(-400px) scale(0.7, 0.7); 

    }
    100%{
        
         
        transform: translateX(0) scale(0.7, 0.7); 
    }
}

@keyframes slow {
    0%{
        transform: translateX(-400px) scale(0.7, 0.7); 
    }
    100%{
        
         
        transform: translateX(0) scale(1, 1); 
    }
}

@keyframes slow3 {
    0%{
        transform: translateX(-400px) scale(1, 1); 
    }
    100%{
        transform: translateX(0) scale(0.7, 0.7); 
    }
}






@keyframes righ1 {
    0%{
        
        transform: translateX(400px) scale(0.7, 0.7); 

    }
    
    100%{
        transform: translateX(0) scale(0.7, 0.7); 
    }
}

@keyframes righ2 {
    0%{
        
        transform: translateX(400px) scale(0.7, 0.7); 

    }
    
    100%{
        transform: translateX(0) scale(1, 1); 
    }
}

@keyframes righ3 {
    0%{
        
        transform: translateX(400px) scale(1, 1); 

    }
    
    100%{
        transform: translateX(0) scale(0.7, 0.7); 
    }
}

@keyframes left {
    0%{
        
        transform: translate(0);
    }
    
    100%{
        transform: translate(-10px);
    }
}

@keyframes right {
    0%{
        
        transform: translate(0);
    }
    
    100%{
        transform: translate(10px);
    }
}

#good{
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

#good2{
    display: flex;
    width: 300%;
    position: relative;
    /* overflow: hidden; */
}

.home2{
    width: 100vw;
    flex-shrink: 0;
    
}

.go{
    transition: all 1s;
    transform: translateX(-1000px)
}

.p1{
    
}

.p2{
    background-image: url(../img/project_02.png);
}

.p3{
    background-image: url(../img/project_03.png);
}




