@media screen and (max-width:415px) {

    *{
        /* outline: 1px solid red;  */
   }

   .wrapper nav{
       height: 70px;
   }
   nav .about_logo img{
    margin-top: 10px ;
    margin-left: 10px;
    height:50px;
}


nav .nav_ul{
    position: absolute;
    background-color: black;
    display: none;
    width: 70%;
    height: calc(100vh - 70px);
    top:70px;
    right:-414px;
    margin-right: 0;
    margin-top: 0;
    
}

.wrapper nav  .-on{
 display: flex;
 flex-direction: column;
 justify-content: center;
 animation: move  1.5s ease-in-out forwards;
 transition: all 1s;

 
}

@keyframes move{
 0%{
     right:-414px;
 }
 100%{
     right: 0;
 }
} 

nav .nav_ul li{
    background-color: black;
    display: block;
    /* border-top: 1px solid white; */
}

nav .nav_ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav .trigram{
    display: inline;
    line-height: 70px;
    font-weight: 300;
}

/* nav .trigram:hover +.nav_ul{
    display: block;
} */
   /* ---------------------------------------------------------------------------------- */

   .wrapper .about{
    padding-top: 70px;
   }

   .about .about1{
    padding: 0;
    /* height: calc(100vh - 447px); */
   }

   .about .about1 img{
   margin: 45px auto;
   }

   .about .about1 .about_text p{
    font-size: 16px;
    margin: 0 auto;
    width: 300px;
    font-family: "Tomorrow",verdana, arial,"微軟正黑體";
    text-align: center;
   }

   .about .about1 .about_text p{
        display: none;
   }

   /* ------------------------------------------------------------------------------------- */

.wrapper footer{
    margin-top: 20px;
}

footer .footer1{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
}

footer .footer1 span{
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

footer .footer1_1{
    text-align: left;
    padding: 5px 10px ;
    margin: 0;
    border-bottom: 1px solid white;
    
}

.wrapper footer .footer2{
    text-align: left;
    font-size: 14px;
    padding:  5px 30px;
}
}