@media screen and (max-width:415px) {

    *{
        /* outline: 1px solid red;  */
   }

   .wrapper nav{
       height: 70px;
   }
   nav .about_logo img{
    margin-top: 10px ;
    margin-left: 10px;
    height:50px;
}


nav .nav_ul{
    position: absolute;
    background-color: black;
    display: none;
    width: 70%;
    height: calc(100vh - 70px);
    top:70px;
    right:-414px;
    margin-right: 0;
    margin-top: 0;
    
}

.wrapper nav  .-on{
 display: flex;
 flex-direction: column;
 justify-content: center;
 animation: move  1.5s ease-in-out forwards;
 transition: all 1s;

 
}

@keyframes move{
 0%{
     right:-414px;
 }
 100%{
     right: 0;
 }
} 

nav .nav_ul li{
    background-color: black;
    display: block;
    /* border-top: 1px solid white; */
}

nav .nav_ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav .trigram{
    display: inline;
    line-height: 70px;
    font-weight: 300;
}

   .wrapper footer{
    margin-top: 20px;
}

/* ------------------------------------------------------------------- */


header .header_1_1{
    margin: 0;
    padding: 20px;
}

.header_1_1 br{
    display: none;
}

header .header_1_1 h2{
    font-size: 30px;
    padding: 0;
    line-height: 1.3;
    margin-bottom: 10px;
}

header .header_1_1 p{
    font-size: 16px;
    padding-left: 0;
}

.wrapper .project1 h2{
    font-size: 36px;
}

.wrapper .project1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0;
    background-attachment: fixed;
}

 .project1 p{
    display: none;
    /* margin-left:155px; */
}

.wrapper .project1 input{
    margin-bottom: 57px;
    width: 129px;
    height: 33px;
    font-size: 14px;
}


.wrapper .project_one{
    background-position: 33% 0;
}
.wrapper .project_two{
    background-position: 80% 0;
}

.wrapper .project_three{
    background-position: 60% 0;
}
/* ------------------------------------------------------------------- */

footer .footer1{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
}

footer .footer1 span{
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid white;
}

footer .footer1_1{
    text-align: left;
    padding: 5px 10px ;
    margin: 0;
    border-bottom: 1px solid white;
    
}

.wrapper footer .footer2{
    text-align: left;
    font-size: 14px;
    padding:  5px 10px;
}

}